@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}
.heading {
  text-shadow: 2px 4px 0px #e46b6b;
}
.date-container {
  box-shadow: 5px 6px 0px #e46b6b;
}
.date-picker {
  @apply sm:w-24 p-1 sm:p-5 rounded-lg border border-slate-500;
}
.data-container {
  @apply flex flex-wrap justify-between my-10 w-11/12 m-auto;
}
.data-container > * {
  @apply m-3;
}
.card {
  @apply flex flex-wrap w-full sm:w-[400px] p-5 border border-[#93C5FD] rounded-lg;
}
.card-date {
  @apply p-2 mb-2 font-semibold text-lg sm:text-xl rounded-md bg-[#e46b6b] text-white;
}
.card-title {
  @apply text-base sm:text-lg font-medium;
}
.card-desc {
  @apply text-xs sm:text-lg my-2 inline-block;
}
.card-desc a {
  @apply text-blue-400;
}
.learn-more-btn {
  @apply text-base sm:text-lg p-2 sm:p-3 bg-blue-400 rounded-md text-white;
}
.learn-more-btn a {
}
